page-home {
    .color_one {
        background-color: #4e4ebf;
    }
    .color_two {
        background-color: #b5b598;
    }
    .color_three {
        background-color: #e47e58;
    }
    .color_four {
        background-color: #e4e056;
    }
    .color_five {
        background-color: #55c5ab;
    }
    .color_six {
        background-color: #e06ccd;
    }
    .theme_wrapper ion-col {
        height: 250px;
        border: solid 4px #484141;
    }
    .theme_wrapper ion-col p {
        color: #fff;
        font-weight: 800;
        text-align: center;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .home_notify ion-col{
        height: 300px;
    }
    .color_seven{
        background-color: #4c4b4c;
           
    height: 70px;
    box-shadow: 3px 0px 10px #524c4c;
    }
    .color_eight{
        background-color: #fff;
              
    height: 100px;
    box-shadow:3px 0px 10px #524c4c;
    }
    .color_eight img{
                width: 275px;
    position: relative;
    top: -65px;
    }
    .color_nine{
        background-color: #30b54d;
    }
    .theme_wrapper b{
        position: relative;
        top: 20px;
    }
}