page-home {
.blue_bg{
    background-color: blue;
}
.yellow_bg{
    background-color: yellow;
}
.orange_bg{
    background-color: orangered;
}
.theme_wrapper ion-col {
    height: 100px;
}
.theme_wrapper ion-col p{
    color: #fff;
    font-weight: 800;
        text-align: center;
    position: absolute;
    bottom: 0;
}
}

